<div class="container">

    <div ng-if="$ctrl.message === 'Username does not exist'" class="alert alert-danger" >
        {{$ctrl.message}}  
    </div>
    <div ng-if="$ctrl.message === 'Wrong Password. Try Again !'" class="alert alert-danger" >
        {{$ctrl.message}} 
    </div>    
    <div ng-if="$ctrl.message === 'User Not Authenticated By Admin'" class="alert alert-danger" >
        {{$ctrl.message}} 
    </div>    
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Sign in</h1>
            <div class="account-wall">
                <img class="profile-img" src="img/login-dummy.png" alt="Your Photo Here">
                    <form class="form-signin" name="signin">
                        <input type="text" class="form-control" name="email" ng-model="$ctrl.user.email" placeholder="Email" required autofocus>
                            <!-- show an error if this isn't filled in -->
                            <p ng-show="signin.email.$touched && signin.email.$error">Email is invalid</p>
                        <input type="password" class="form-control" name="passwor" ng-model="$ctrl.user.password" placeholder="Password" required>
                        <!-- show an error if this isn't filled in -->
                            <p ng-show="signin.password.$touched && signin.password.$error">Email is invalid</p>
                        <input type="button" ng-click="$ctrl.login(user)" value="Sign in" class="btn btn-primary btn-lg btn-block login-button">
                        <label class="checkbox pull-left">
                            <input type="checkbox" value="remember-me">Remember me
                        </label>
                    </form>
            </div>
            <a href="#!/register" class="text-center new-account">Create an account </a>
        </div>
    </div>
</div>